@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #fffcf2;
}

.react-calendar {
  width: 100% !important;
  max-width: 400px !important;
  margin: 0 auto !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}
.react-calendar__tile {
  background-color: #f0f0f0;
  color: black;
}
